[Unit]
Description=Check network interfaces and execute commands when they are up
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/check_interfaces_gb200.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

